html {
    font-size: 14px;
}

body {
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, sans-serif;
    margin: 5px;
    background-color: #141414;
    color: #D8D9DA;
}

h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.5em
}

table, td {
    border: none;
    border-collapse: collapse;
    padding: 3px;
    font-size: 1.1em;
}

table {
    border-spacing: 0;
    background: #242222;
    border: 1px solid transparent;
    border-collapse: separate;
    *border-collapse: collapse;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

th {
    border: 1px black solid;
    background-color: #242222;
    border-top: 2px solid #141414;
    border-bottom: 2px solid #141414;
    color: #33B5E5;
}

.widetable {
    width: 99%;
    clear: both;
    table-layout: fixed;
}
.widetable td {
    text-overflow: ellipsis;
}
.widetable td pre {
    overflow: hidden;
    white-space: break-spaces;
}

.filtered {
    opacity: 60%;
}

.desc {
    font-size: 0.8em;
}

.tag {
    font-size: 0.6em;
    color: white;
    padding: 4px;
    -webkit-border-radius: 0.25em;
    background-color: #98999b;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0.25em;
    margin-right: 4px;
}

.tag.prod {
    background-color: #f39086;
    color: #eff0f2;
}

.tag.synyx {
    background-color: #b1b2b3;
    color: #58585a;
}

.tag.stage {
    background-color: #f78b55;
    color: #eff0f2;
}

.status {
    font-weight: bold;
    padding: 0;
}

.status.green, .status.green summary, .status.green details {
    background-color: #26AC1C;
    color: black;
}

.status.red, .status.red summary, .status.red details {
    background-color: #ff5050;
    color: black;
}

.status.yellow, .status.yellow summary, .status.yellow details {
    background-color: #C8AF38;
    color: black;
}

.status.grey, .status.grey summary, .status.grey details {
    background-color: #444444;
    color: whitesmoke;
}

summary {
    list-style: none;
    padding: 3px;
    cursor: pointer;
}

summary:hover {
    filter: brightness(110%) !important;
}

summary::-webkit-details-marker {
    display: none;
}
details summary::after {
    content: "🛈";
}
details[open] summary::after {
    content: "⮾";
}

details .content {
    padding: 3px;
}

.status details .content  {
    font-size: 0.75em;
    opacity: 0.8;
    width: 95%;
    font-weight: normal;
}
.status summary a {
    text-decoration: none;
}

input.connection-state[type="checkbox"] {
    display: none;
}
input.connection-state[type="checkbox"] + label {
    color: #444;
    font-size: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: fixed;
    right: 60px;
}
input.connection-state[type="checkbox"]:checked + label {
    color: #000;
}
input.connection-state[type="checkbox"] + label:before {
    display: inline-block;
    content: "📶";
    cursor: pointer;
    opacity: 0.6;
}

input.connection-state[type="checkbox"]:checked +label:before{
    content:"📶";
    opacity: 1;
}

button.txtbtn {
    align-items: normal;
    background-color: rgba(0,0,0,0);
    border-color: rgb(0, 0, 238);
    border-style: none;
    box-sizing: content-box;
    color: rgb(0, 0, 238);
    cursor: pointer;
    display: inline;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
    -moz-user-select: text;
}
@supports (-moz-appearance:none) { /* Mozilla-only */
    button.txtbtn::-moz-focus-inner { /* reset any predefined properties */
        border: none;
        padding: 0;
    }
    button.txtbtn:focus { /* add outline to focus pseudo-class */
        outline-style: dotted;
        outline-width: 1px;
    }
}
form.txtform {
    display: inline;
}


nav#menu {
    font-size: 14px;
    /*background-color: #fff; */
    margin: 0;
    position: absolute;
    left: 200px;
    /*height: 60px;
    padding: 0 1em;*/
    overflow: hidden;
}

nav#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242222;
}

nav#menu ul li {
    float: left;
}

nav#menu ul li:last-child {
    position: absolute;
    right: 0;
    bottom: 60px;
    background-image: linear-gradient(to right, rgba(236, 240, 241, 0) 0, #fff 2em);
    padding-left: 3em;
}

nav#menu ul li:nth-last-child(2) {
    display: none;
}

nav#menu ul li a {
    display: block;
    color: #D8D9DA;
    text-align: center;
    padding: 3px 14px;
    text-decoration: none;
}

nav#menu ul li a:hover {
    background-color: #111;
}

.mobile-nav-active {
    background-color: #444444;
    color: whitesmoke;
}

@media all and (max-width: 640px) {

    form.search-form > label {
        min-width: 120px;
    }

    .logo {
        min-width: 160px;
    }

    nav#menu:target ul li:not(:first-child) {
        margin-top: 0;
    }

    .primary-navigation {
        margin-top: 1vw;
    }
}

h3.filtered {
    margin-top: 119px;
}

.hidden {
    display: none;
}
