html {
    font-size: 14px;
}

body {
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, sans-serif;
    margin: 5px;
    background-color: #141414;
    color: #D8D9DA;
}

h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.5em
}

table, td {
    border: none;
    padding: 2px;
    border-spacing: 2px;
    font-size: 1.1em;
}

table {
    border-spacing: 0;
    background: #242222;
    border: 1px solid transparent;
    border-collapse: separate;
    *border-collapse: collapse;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

th {
    border: 1px black solid;
    background-color: #242222;
    border-top: 2px solid #141414;
    border-bottom: 2px solid #141414;
    color: #33B5E5;
}

.widetable {
    width: 99%;
    clear: both;
    table-layout: fixed;
}
.widetable td {
    text-overflow: ellipsis;
}
.widetable td pre {
    overflow: hidden;
    white-space: break-spaces;
}

.desc {
    font-size: 0.8em;
}

.tag {
    font-size: 0.6em;
    color: white;
    padding: 4px;
    -webkit-border-radius: 0.25em;
    background-color: #98999b;
    text-align: center;
    vertical-align: baseline;
    border-radius: 0.25em;
    margin-right: 4px;
}

.tag.prod {
    background-color: #f39086;
    color: #eff0f2;
}

.tag.synyx {
    background-color: #b1b2b3;
    color: #58585a;
}

.tag.stage {
    background-color: #f78b55;
    color: #eff0f2;
}

.status.green {
    background-color: #269926;
    color: white;
    padding: 3px;
    opacity: 0.75;
}

.status.red {
    background-color: #FF4040;
    color: white;
    padding: 3px;
    opacity: 0.75;
}

.status.yellow {
    background-color: #FFDE40;
    color: black;
    padding: 3px;
    opacity: 0.75;
}

.status.grey {
    background-color: #444444;
    color: white;
    padding: 3px;
    opacity: 0.90;
}

summary {
    list-style: none;
}
summary::-webkit-details-marker {
    display: none;
}
details summary::before {
    content: "🛈";
}
details[open] summary::before {
    content: "⮾";
}
.status details summary {
    cursor: pointer;
}

.status > details {
    display: inline;
    position: relative;
    float: right;
    max-width: inherit;
}
.status > details[open] {
    display: inline;
    position: relative;
    float: left;
    max-width: inherit;
}
