{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Nagios et al. Dashboard
    </title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/css/main.css" />
    <script type="module" defer>
        import {connectStreamSource} from '/static/js/turbo.7.2.0.js';

        const wsUrl = ((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + "/ws/alerts"
        document.eventSource = new WebSocket(wsUrl);
        connectStreamSource(document.eventSource);
    </script>
</head>
<body>
<main id="app">
    <section id="content-container" class="container">
        {{template "content" .Content}}
    </section>
</main>

</body>
</html>
{{end}}
