{{define "content-container"}}
<turbo-frame id="content-container" data-turbo-action="advance">
    <section class="container">
        {{template "content" .Content}}
    </section>
</turbo-frame>
{{end}}
