{{define "content-container"}}
<turbo-stream action="replace" target="content-container">
    <template>
    <section id="content-container" class="container">
        {{template "content" .}}
    </section>
    </template>
</turbo-stream>
{{end}}
